ul {
    padding: 0;
}
ul {
    list-style: none;
    width: 100%;
}

ul>li {
    display: inline-block;
    position: relative;
}

ul>li>ul {
    display: none;
    position: absolute;
    width: 300px;
}